doctype html
html
  head
    meta(charset="UTF-8")
    title Recuperação de Senha
  body
    p Olá, #{name}!
    p Você solicitou a recuperação de senha. Por favor, utilize este token:
    code #{token}
    p Se você não solicitou, ignore este e-mail.
